

body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

A:hover{color:chartreuse}
nav{background-color: azure;
}
 
header {
  text-align: center;
}

header{
  background-color:rgba(41, 163, 172, 0.562);
}
footer {
  background-color:azure;
  text-align: center;
}


main{background-color: aquamarine;
}



body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
}



