

body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

A:hover{color:chartreuse}

 
header {
  text-align: center;
  background-color: aqua;
}
#heading{
  font-family: sans-serif;
  font-size: 110%;
}


footer {
  background-color:azure;
  text-align: center;
}




body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}
#sidebar{
  width: 20%;
  background-color: lightblue;
}
.navmenu{
  list-style-type: none;
}



