

body{
  font-family: sans-serif;
  font-size:110%;
  background-color:cornflowerblue;
}

A:hover{color: honeydew;}

 
header {
  text-align: center;
  background-color: aqua;
}
#heading{
  font-family: sans-serif;
  font-size: 110%;
}


footer {
  background-color:rgb(206, 255, 255);
  text-align: center;
}


#content{
  background-color: cyan;
  align-content: space-between;
}




#sidebar{
  width: 20%;
  background-color: lightblue;
}
.navmenu{
  list-style-type: none;
}
#Contact details{
 color:cornflowerblue;
 font-family: Arial, Helvetica, sans-serif;
}
#Intro{
  font-family: sans-serif;
  font-size: 115%;
}



